<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="navbar-brand" href="#">Navbar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" (click)="onSelect('recipe')">
        Recipes<span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="onSelect('shop-list')">
        Shopping List
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdownId"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownId">
        <a class="dropdown-item" href="#">Action 1</a>
        <a class="dropdown-item" href="#">Action 2</a>
      </div>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
