<div class="row">
  <div class="col-12">
    <h3 class="text-muted">Recipe Detail</h3>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-12">
    <h4>{{recipe.name}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.imagePath }}" class="img-recipe">
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
