<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card border-primary">
    <div class="card-body">
      <h3 class="card-title">Title</h3>
      <span class="card-text">Text</span>
    </div>
    <img class="card-img-top" src="assets/flat.jpg" alt="">
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card border-primary">
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-subtitle text-muted">Text</p>
    </div>
    <img class="card-img-top" src="assets/flat.jpg" alt="">
    <div class="card-footer text-muted">
      Footer
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card">
    <img class="card-img-top" src="assets/flat.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-subtitle text-muted">Text</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Item 1</li>
      <li class="list-group-item">Item 2</li>
      <li class="list-group-item">Item 3</li>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card bg-dark text-white">
    <img class="card-img" src="assets/flat.jpg" alt="">
    <div class="card-img-overlay">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
</div>


<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active pill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled pill</a>
        </li>
      </ul>
    </div>
    <img class="card-img-top" src="assets/flat.jpg" alt="">
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-subtitle text-muted">Body</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active tab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled tab</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Body</p>
    </div>
    <img class="card-img-top" src="assets/flat.jpg" alt="">
  </div>
</div>

