<div class="row">
  <div class="col-12">
    <div class="card">

      <form class="card-body">
        <div class="row">
          <div class="col-5 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" #nameInput>
          </div>
          <div class="col-2 form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control" #amountInput>
          </div>

        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-outline-success" (click)="onAddItem()">Add</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
            <button class="btn btn-outline-primary">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
