<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shop-list *ngIf="loadedFeature === 'shop-list'"></app-shop-list>
    </div>
  </div>
</div>
