<div class="row">
  <div class="col-md-10">
    <app-shop-edit
    (ingredientAdded)="onIngredientAdded($event)"></app-shop-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item"
        *ngFor="let ingredient of ingredients">
        {{ ingredient.name}} - ({{ ingredient.amount}})
      </a>
    </ul>
    <p appBasicHighlight>style me with basic directive</p>
    <p [appBetterHighlight]="'pink'"
      [highlightColor]="'blue'">
      style me with better directive using Renderer2
    </p>
  </div>
</div>
