<a href="#" class="list-group-item clearfix recipe"
  (click)="onSelect()">
  <div class="float-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <span class="list-group-item-text text-muted">{{recipe.description}}</span>
  </div>
  <span class="float-right recipe-img">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive">
  </span>
</a>
