<div class="row">
  <div class="col-12">
    <h3 class="text-muted float-left">Recipes</h3>
    <button class="btn btn-success float-right">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <app-recipe-item *ngFor="let recipe of recipes"
      [recipe]="recipe" (recipeSelected)="onRecipeSelected(recipe)">
    </app-recipe-item>
  </div>
</div>
